.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.banner {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 2em;
}
.showcase {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.showcase img {
    height: 40vh;
    margin: 0 1em;
    border: ridge pink 10px;
}
figcaption {
    text-align: center;
    font-style: italic;
    font-size: 1.2em;
    margin-top: 0.5em;
}